body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#clock {
    float: right;
}

hr  {
    color: red;
}

table#tiles {
    max-width: 20em;
    display: inline-block;
    float: left;
    margin: 1em;
    vertical-align: center;
    border-radius:5px;
    background: white;
    border-radius: 15px;
}

table img {
    max-width: 20em;
}

#likes {
    float:right;
}

.glyphicon:hover {
  color: #d3a82a;
  box-shadow: #75b0df;
}

.btn {
    float: right;
    color: #403454;
    background-color: #d3a82a;
    border: none;
}

.btn:hover {
    color: #403454;
    background-color: #eabc4b;
    border: none;
}