body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#clock {
    float: right;
}

hr  {
    color: red;
}

table#tiles {
    max-width: 20em;
    display: inline-block;
    float: left;
    margin: 1em;
    vertical-align: center;
    border-radius:5px;
    background: white;
    border-radius: 15px;
}

table img {
    max-width: 20em;
}

#likes {
    float:right;
}

.glyphicon:hover {
  color: #d3a82a;
  box-shadow: #75b0df;
}

.btn {
    float: right;
    color: #403454;
    background-color: #d3a82a;
    border: none;
}

.btn:hover {
    color: #403454;
    background-color: #eabc4b;
    border: none;
}

#projectText {
    text-decoration: none;
    color: #000000;
}

#projectText:hover {
    opacity: 0.5;

}

.team {
    width : 200px;
    height : 100px;
    display : table-cell;
    vertical-align : middle;
    border : 1px solid blue;
    float:none;
    background-color: #39275B;
    color: #a84e0f;
}

h2 {
    color:#39275B
}

textarea {
    border: none;
}

.gallery img:hover {
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    box-shadow: 10px 10px 5px #888888;
}

h1 {
    font-weight: bold;
}
