<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="css/main.css"/>
        <link rel="stylesheet" href="css/extra.css"/>

        <title>New Entry</title>
    </head>

    <body>
	    <main class="container" ng-app="CapstonesList" ng-controller="CapstonesController">
            <section>
                <h1>Submission Form for Capstone 2015</h1>
                <h2>The deadline is <strong>June 1, 2015 11:59pm PST.</strong>
                Learn about the process and requirements <a target="_blank" href="#documentation">here.</a>
                <br>Questions? Email Dowell Eugenio <a href="mailto:deugen3@uw.edu" target="_top">deugen3@uw.edu</a>.</h2>

            </section>

            <section>
                <form ng-submit="addCapstones()" id="project-form" method="POST" class="form-horizontal" role="form">

                    <div class="form-group">
                        <label>Team Members</label>
                        <br>

                        <div class="col-md-3">
                            <label for="team-name1" class="col-md-3 control-label">Name</label>
                            <input type="text" id="team-name1" class="form-control" placeholder="Enter the name of a team member." ng-model="newCapstone.TeamMemberName1"/>
                            <label for="team-name2" class="col-md-3 control-label">Name</label>
                            <input type="text" id="team-name2" class="form-control" placeholder="Enter the name of a team member." ng-model="newCapstone.TeamMemberName2"/>
                            <label for="team-name3" class="col-md-3 control-label">Name</label>
                            <input type="text" id="team-name3" class="form-control" placeholder="Enter the name of a team member." ng-model="newCapstone.TeamMemberName3"/>
                            <label for="team-name4" class="col-md-3 control-label">Name</label>
                            <input type="text" id="team-name4" class="form-control" placeholder="Enter the name of a team member." ng-model="newCapstone.TeamMemberName4"/>
                            <label for="team-name5" class="col-md-3 control-label">Name</label>
                            <input type="text" id="team-name5" class="form-control" placeholder="Enter the name of a team member." ng-model="newCapstone.TeamMemberName5"/>
                        </div>

                        <div class="col-md-3">
                            <label for="team-linkedin1" class="col-md-3 control-label">LinkedIn</label>
                            <input type="text" id="team-linkedin1" class="form-control" placeholder="Enter your LinkedIn URL." ng-model="newCapstone.TeamMemberLinkedIn1"/>
                            <label for="team-linkedin2" class="col-md-3 control-label">LinkedIn</label>
                            <input type="text" id="team-linkedin2" class="form-control" placeholder="Enter your LinkedIn URL." ng-model="newCapstone.TeamMemberLinkedIn2"/>
                            <label for="team-linkedin3" class="col-md-3 control-label">LinkedIn</label>
                            <input type="text" id="team-linkedin3" class="form-control" placeholder="Enter your LinkedIn URL." ng-model="newCapstone.TeamMemberLinkedIn3"/>
                            <label for="team-linkedin4" class="col-md-3 control-label">LinkedIn</label>
                            <input type="text" id="team-linkedin4" class="form-control" placeholder="Enter your LinkedIn URL." ng-model="newCapstone.TeamMemberLinkedIn4"/>
                            <label for="team-linkedin5" class="col-md-3 control-label">LinkedIn</label>
                            <input type="text" id="team-linkedin5" class="form-control" placeholder="Enter your LinkedIn URL." ng-model="newCapstone.TeamMemberLinkedIn5"/>
                        </div>

                        <div class="col-md-3">
                            <label for="team-role1" class="col-md-3 control-label">Roles</label>
                            <input type="text" id="team-role1" class="form-control" placeholder="Enter your role." ng-model="newCapstone.TeamMemberPosition1"/>
                            <label for="team-role2" class="col-md-3 control-label">Roles</label>
                            <input type="text" id="team-role2" class="form-control" placeholder="Enter your role." ng-model="newCapstone.TeamMemberPosition2"/>
                            <label for="team-role3" class="col-md-3 control-label">Roles</label>
                            <input type="text" id="team-role3" class="form-control" placeholder="Enter your role." ng-model="newCapstone.TeamMemberPosition3"/>
                            <label for="team-role4" class="col-md-3 control-label">Roles</label>
                            <input type="text" id="team-role4" class="form-control" placeholder="Enter your role." ng-model="newCapstone.TeamMemberPosition4"/>
                            <label for="team-role5" class="col-md-3 control-label">Roles</label>
                            <input type="text" id="team-role5" class="form-control" placeholder="Enter your role." ng-model="newCapstone.TeamMemberPosition5"/>
                        </div>
                    </div>

                    <div class="form-group col-md-6" id="form-projectName">
                        <label for="project-name">Capstone Project Name</label>
                        <input type="text" id="project-name" class="form-control" placeholder="Enter your capstone project name." ng-model="newCapstone.title"/>
                    </div>

                    <div class="col-md-1">
                        <p></p>
                    </div>
                    <div class="form-group col-md-5" id="form-type">
                        <label>Choose one</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Software
                                    <br><input type="checkbox"> Wareables
                                    <br><input type="checkbox"> Health
                                    <br><input type="checkbox"> Mobile
                                    <br><input type="checkbox"> Web
                                    <br><input type="checkbox"> Innovation
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-10" id="form-description">
                        <label for="project-description">Description</label>
                        <input type="text" id="project-description" class="form-control" placeholder="Enter the description of your project." ng-model="newCapstone.description"/>
                    </div>

                    <div class="form-group col-md-6" id="form-video">
                        <label for="project-video">Video</label>
                        <input type="text" id="project-video" class="form-control" placeholder="Enter the link to your video." ng-model="newCapstone.video"/>
                    </div>

                    <div class="form-group col-md-7" id="form-img">
                        <label for="project-image" class="required-field" id="project-image">Images (at least one)</label>
                        <span class="prettyFile">
                            <input type="file" name="form[files][]" multiple="multiple" ng-model="newCapstone.image">
						</span>

						<span class="prettyFile">
						    <input type="file" name="form[files][]" multiple="multiple" ng-model="newCapstone.image2">
						</span>

						<span class="prettyFile">
						    <input type="file" name="form[files][]" multiple="multiple" ng-model="newCapstone.image3">
						</span>

                        <span class="prettyFile">
                            <input type="file" name="form[files][]" multiple="multiple" ng-model="newCapstone.image4">
						</span>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 text-right">
                            <button type="button" id="cancelButton" class="btn btn-default" ng-click="cancel()">Cancel</button>
                            <button type="submit" id="submitButton" class="btn btn-primary" ng-click="submit()">Submit</button>
                        </div>
                    </div>
                </form>
            </section>
	    </main>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
